{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'books:book_list' %}">Book List</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ book.title }}
</li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <main class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                {{ book.title }}
            </div>
            <img src="{{ book.cover.url }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">
                    Published: {{ book.publication_date }}
                </p>
            </div>
        </div>
    </main>
    <aside class="col-md-8">
        <div class="card">
            <div class="card-header">
                Chapters
            </div>
            <ul class="list-group list-group-flush">
                {% for chapter in book.chapter_set.all %}
                <li class="list-group-item">
                    <a href="{{ chapter.get_absolute_url }}">
                        {{ chapter.chapter_number }}. {{ chapter.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </aside>
</div>
{% endblock content %}