{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'books:book_list' %}">Book List</a>
</li>
<li class="breadcrumb-item" aria-current="page">
    <a href="{{ exercise.chapter.book.get_absolute_url }}">
        {{ exercise.chapter.book.title }}
    </a>
</li>
<li class="breadcrumb-item" aria-current="page">
    <a href="{{ exercise.chapter.get_absolute_url }}">
        {{ exercise.chapter.title }}
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ exercise.title }}
</li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <main class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                {{ exercise.chapter.book.title }}
            </div>
            <img src="{{ exercise.chapter.book.cover.url }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ exercise.chapter.book.title }}</h5>
                <p class="card-text">
                    Published: {{ exercise.chapter.book.publication_date }}
                </p>
            </div>
        </div>
    </main>
    <aside class="col-md-8">
        <div class="card">
            <div class="card-header">
                Solutions
            </div>
            {% for solution in exercise.solution_set.all %}
            <div class="accordion" id="toggle-{{ solution.solution_number }}">
                <div class="card">
                    <div class="card-header" id="heading-{{ solution.solution_number }}">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse-{{ solution.solution_number }}" aria-expanded="true"
                                aria-controls="collapse-{{ solution.solution_number }}">
                                Solution {{ solution.solution_number }}
                            </button>
                        </h2>
                    </div>

                    <div id="collapse-{{ solution.solution_number }}" class="collapse"
                        aria-labelledby="heading-{{ solution.solution_number }}"
                        data-parent="#toggle-{{ solution.solution_number }}">
                        <div class="card-body">
                            <img src="{{ solution.image.url }}" alt="" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </aside>
</div>
{% endblock content %}